tqdm
openai
tiktoken
torch
numpy
pandas
ipykernel
dask
dask[distributed]
bokeh

# Training
accelerate
datasets
transformers
bitsandbytes
deepspeed
tensorboard
torchmetrics
typing_extensions==4.7.1
sentencepiece
sentence-transformers

pybind11
nmslib
pyserini
faiss-cpu
setuptools
wheel
pymilvus
FlagEmbedding